<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nodemcu Logger</title>
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/css/layout-default.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="/css/personal.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
        <script src="/javascript/jquery/jquery.min.js"></script>
        <script src="/javascript/bootstrap/bootstrap.js"></script>
     
    
        <script src="/Chart.js/dist/Chart.bundle.js"></script>
        <script src="/Chart.js/samples/utils.js"></script>
        <script src="/chartjs-plugin-zoom/node_modules/hammerjs/hammer.min.js"></script>
        <script src="/chartjs-plugin-zoom/chartjs-plugin-zoom.js"></script>
         
        
        
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"> 
     </head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Nodemcu Logger</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                       <div class="navbar-nav">
                         <a class="nav-item nav-link" href="./">Home</a>
                         <a class="nav-item nav-link active" href="/users">Charts<span class="sr-only">(current)</span></a>
                         <a class="nav-item nav-link" href="#">Configuration</a>
                         
         </div>
          </div>
       </nav>